body {
    font-family: 'Press Start 2P', cursive !important;
    color: #bcafad;
    text-shadow: 3px 3px rgb(26, 26, 26);
    background-image: url(../images/background.png);
    line-height: 163%;
}

.titleRow {
    padding: 2.5% 0;
}

span {
    color: gold;
    text-shadow: 2px 2px rgba(121, 95, 29, 0.877);
}

.rules {
    padding: 2.5% 0;
    color: whitesmoke;
}

.ore  {
    height: 200px;
    width: 200px;
    opacity: 0.85;
    cursor: url('../images/pickaxe.png'), auto;
}

.ore:hover {
    opacity: 1;
}

.ore {
    margin: 7% 0 0% 0;
}

.winLossRow {
    margin: 5% 0 0% 0;
}
















































@-webkit-keyframes hvr-pop {
    5% {
      -webkit-transform: scale(.5);
      transform: scale(.5);
    }
  }
  @keyframes hvr-pop {
    5% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  .hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }